* {
}

.teacher-box img {
  position: relative;
  z-index: 10;
}

.teacher-box {
  position: relative;
}

.expert-quote-box {
  display: flex;
}

.feed-wrapper {
  border-radius: 10px;
  border: 1px solid #fff;
  background: linear-gradient(
    269deg,
    #fff 58.16%,
    rgba(255, 255, 255, 0.47) 99.55%
  );
  box-shadow: 0px 4px 30px 0px rgba(186, 107, 50, 0.11);
  padding: 15px;
}

.feed-imgs {
  /* border-radius: 10px; */
  /* border: 1px solid #fff; */
  /* background: linear-gradient(
    269deg,
    #fff 58.16%,
    rgba(255, 255, 255, 0.47) 99.55%
  ); */
  /* box-shadow: 0px 4px 30px 0px rgba(186, 107, 50, 0.11); */
  /* padding: 15px; */
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-top: 20px; */
}

.feed-imgs img {
  max-width: 100%;
}

.feed-title-2 {
  color: #105ce4;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.feedback-title {
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.achievement-badge-l {
  border-radius: 10px;
  border: 1px solid #fff;
  background: linear-gradient(
    269deg,
    #fff 58.16%,
    rgba(255, 255, 255, 0.47) 99.55%
  );
  display: inline-block;
  color: #333;
  padding: 10px 15px;
  position: absolute;
  z-index: 1;
  top: 108px;
  right: 18px;
}

.achievement-badge-l-2 {
  top: 230px;
  z-index: 20;
}

.achievement-number {
  background: var(
    --gradient-2,
    linear-gradient(270deg, #eb2805 0%, #fbc30b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.ach-title {
  font-size: 18px;
  color: #dc3f2e;
  border-radius: 24px;
  border: 1px solid #fff;
  background: linear-gradient(0deg, #fff4ce 0%, #fff 100%);
  box-shadow: 0px 7px 53px 0px rgba(0, 0, 0, 0.25);
  padding: 2px 15px;
  display: inline;
}

.achievement-title {
  font-size: 30px;
  font-weight: bold;
}

.container {
  max-width: 1200px;
}
.bg-orange-gradient {
  background: linear-gradient(180deg, #ff9a5b 0%, #ff5722 100%);
  height: 120px;
}

.target-section {
  /* background-color: #fff; */
  border-radius: 15px;
  margin-top: -30px;
  padding: 30px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  padding-top: 60px;
}

.course-badge {
  background-color: #2196f3;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 500;
  border-radius: 56px;
  border: 1px solid #89b3ff;
  background: var(
    --Gradient-color,
    linear-gradient(270deg, #105ce4 29.9%, #45c3fa 100%)
  );
  box-shadow: 0px -1px 11px 0px #688bff inset;
}

.section-title {
  color: #ff7215;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
}

.user-card {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s;
  height: 100%;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.user-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.user-type {
  color: #ff7215;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.user-description {
  color: #000;
  font-size: 16px;
  margin: 0;
}

/* Expert section styles */
.expert-section {
  /* border-radius: 15px; */
  padding: 40px 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: url(./assets/images/bg-htt.png) no-repeat center center;
  padding-bottom: 0;
}

.expert-name {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1.1;
  background: var(
    --liner-yellow,
    linear-gradient(180deg, #fff8e1 0%, #ffe898 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.expert-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.expert-quote {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  font-style: normal;
  /* font-weight: 800; */
  line-height: 20px; /* 111.111% */
  font-weight: bold;
  width: 410px;
  margin-top: 100px;
  max-width: 100%;
}

.expert-quote::before {
  content: '"';
  font-size: 60px;
  position: absolute;
  left: 0;
  top: -20px;
  opacity: 0.8;
}

.achievement-badge {
  /* background-color: #fff; */
  color: #ffffff;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 20px;
  /* font-weight: bold; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.achievement-text {
  /* margin-bottom: 5px; */
  font-size: 15px;
  line-height: 1.5;
  padding: 5px;
  margin-top: 5px;
}

/* FAQ section styles */
.faq-section {
  background: linear-gradient(90deg, #ff9a5b 0%, #ffb74d 100%);
  /* border-radius: 15px; */
  padding: 50px 0;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  background: url(./assets/images/bg-ques.png) no-repeat center center;
  background-size: cover;
}

.faq-badge {
  background-color: #2196f3;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 15px;
  border-radius: 56px;
  border: 1px solid #89b3ff;
  background: var(
    --Gradient-color,
    linear-gradient(270deg, #105ce4 29.9%, #45c3fa 100%)
  );
  box-shadow: 0px -1px 11px 0px #688bff inset;
}

.faq-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.faq-card {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-question {
  padding: 20px;
  font-weight: 500;
  /* color: #ff5722; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* background: var(
    --gradient-2,
    linear-gradient(270deg, #eb2805 0%, #fbc30b 100%)
  ); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  font-weight: 700;
  color: #444;
  text-align: left;
}

.faq-card.active .faq-question {
  padding: 20px;
  font-weight: 500;
  color: #ff5722;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: var(
    --gradient-2,
    linear-gradient(270deg, #eb2805 0%, #fbc30b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.faq-answer {
  padding: 0 20px;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-icon {
  font-size: 24px;
  /* color: #ff5722; */
  transition: transform 0.3s ease;
  -webkit-text-fill-color: #ff5722;
}

.faq-card.active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.faq-card.active .faq-answer {
  max-height: 200px; /* Adjust based on your content */
  padding: 0 20px 20px;
}

.faq-card.active .faq-icon {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .user-card {
    margin-bottom: 20px;
  }

  .target-section {
    padding: 15px;
  }

  .section-title {
    font-size: 24px;
  }
}

.txt-gradient-orange {
  background: var(
    --gradient-2,
    linear-gradient(270deg, #eb2805 0%, #fbc30b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feedback-section {
  background: url(./assets/images/bg-hv.png) no-repeat center center;
  padding-bottom: 60px;
  background-size: cover;
}
.box-phh {
  border-radius: 56px;
  border: 1px solid #89b3ff;
  background: var(
    --Gradient-color,
    linear-gradient(270deg, #105ce4 29.9%, #45c3fa 100%)
  );
  box-shadow: 0px -1px 11px 0px #688bff inset;
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
}

@media (max-width: 768px) {
  * {
  }

  .feed-imgs {
    grid-template-columns: repeat(3, 1fr);
  }
  .expert-section {
    background: linear-gradient(180deg, #ff9a5b 0%, #ff5722 100%);
  }
}

@media (max-width: 500px) {
  * {
  }

  .feed-imgs {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .expert-name {
    font-size: 33px;
  }

  .expert-quote {
    margin-top: 20px;
  }

  .expert-quote {
    padding: 0;
  }

  .expert-quote-box {
    flex-direction: column;
  }
}
