.bg-primary {
  background: #fa8128 !important;
}
.text-color-primary {
  color: #fa8128 !important;
}
.bg-secondary {
  background: #105ce4 !important;
}
.text-color-secondary {
  color: #105ce4 !important;
}
.bg-alert {
  background: #dc3f2e !important;
}
.text-color-alert {
  color: #dc3f2e !important;
}
.text-color1 {
  background: #333333;
}
.text-color2 {
  background: #666666;
}
.text-color1 {
  background: #eff1f2;
}
.bg-line {
  background: #dddddd !important;
}
.text-color-line {
  color: #dddddd !important;
}
.bg-white {
  background: #ffffff !important;
}
.text-color-white {
  color: #ffffff !important;
}
.gradient-color {
  background: linear-gradient(270deg, #105ce4 30%, #45c3fa 100%);
}
.gradient-2 {
  background: linear-gradient(270deg, #ffe6c3 0%, #ffffff 70%);
}
.gradient-3 {
  background: linear-gradient(4.96deg, #ffb57f 0%, #ffffff 32%);
}
.lineryellow {
  background: linear-gradient(180deg, #fff8e1 0%, #ffe898 100%);
}
.text-h1 {
  font-size: 42px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 48px;
  text-decoration: uppercase;
}
.text-h2 {
  font-size: 36px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 40px;
}
.text-h3 {
  font-size: 30px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 36px;
}
.text-h4 {
  font-size: 24px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 28px;
}
.text-h5 {
  font-size: 20px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 26px;
}
.text-h6 {
  font-size: 18px;
  font-family: Shopee Display, sans-serif;
  font-weight: 800;
  line-height: 20px;
}
.text-text16 {
  font-size: 16px;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  line-height: 22px;
}
.text-textitalic {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: undefined;
  line-height: 22px;
}
.text-textbold16 {
  font-size: 18px;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.text-text14 {
  font-size: 15px;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.text-text18 {
  font-size: 18px;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  line-height: 24px;
}
